.container {
  height: 842px;
  width: 595px;
  display: flex;
  flex-direction: column;
}

.title {
  background: #737373;
  width: 100%;
  height: 129px;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title h1 {
  color: #eaeaea;
  font-size: 48px;
  font-family: Roboto;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #363636;
  width: 395px;
  height: 48px;
  top: 105;
}

.subtitle h2 {
  color: #e8e8e8;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
}

.content {
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  padding: 0 30px;
}

.topic-title {
  font-family: Red Hat Display;
  font-size: 18px;
  font-weight: 900;
  color: #000;
  margin-bottom: 7px;
}

.topic p {
  font-family: Red Hat Display;
  font-size: 12px;
  text-align: justify;
}

.topic {
  margin-bottom: 29px;
}

.history {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.academy,
.work {
  width: 47.1%;
  display: flex;
  flex-direction: column;
}

.history strong {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.history span {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
}
.history ul {
  margin-top: 5px;
}

.history li {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
}

.school,
.company {
  display: flex;
  flex-direction: column;
}

.school:not(:last-child) {
  margin-bottom: 16px;
}
